# Dependencies
*/node_modules

# IDE - VSCode
.vscode/

# Misc
frontend/.sass-cache
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
frontend/npm-debug.log
frontend/testem.log
frontend/typings
frontend/package-lock.json
frontend/release-builds

# e2e
frontend/e2e/*.js
frontend/e2e/*.map

# Python
*.pyo
*.pyc
__pycache__

# Project Files
*TingusData/
*dist/
*build_temp/
*.spec
apps/Screenshot_Tool/Screenshot_Tool.spec
backend/build_temp/
backend/Tingus-Backend.spec
frontend/private/GH_TOKEN.txt

apps/test_runner/test_runner_dist_20190909_med_branch.rar
/apps/test_runner/_tingus_setup.exe
