# Dependencies
*/node_modules

# IDE - VSCode
.vscode/

# Misc
frontend/.sass-cache
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
frontend/npm-debug.log
frontend/testem.log
frontend/typings
frontend/package-lock.json
frontend/release-builds
frontend/dist

# e2e
frontend/e2e/*.js
frontend/e2e/*.map

# Python
*.pyo
*.pyc
__pycache__

# Project Files
backend/TingusData/
backend/dist/
apps/Screenshot_Tool/dist/
apps/Screenshot_Tool/build_temp/
apps/Screenshot_Tool/Screenshot_Tool.spec
backend/build_temp/
backend/Tingus-Backend.spec
frontend/private/GH_TOKEN.txt

