<style>
    .mr5 {
        margin-right: 5px;
    }
</style>
<div class="col-sm-12">
    <h4 class="font-weight-bold">Suite Details</h4>
    <hr>
    <div class="row" style="max-height: 60vh;">
        <div class="col-sm-12 row">
            <div class="col-sm-2">
                <span> Name </span>
            </div>
            <div class="col-sm-10">
                <input #nameInput class="input input-sm form-control" (blur)="filterSuiteName()" [(ngModel)]="model.name" />
            </div>
        </div>
        <div class="col-sm-12 row" style="margin-top: 10px;">
            <div class="col-sm-2">
                <span> Description </span>
            </div>
            <div class="col-sm-10">
                <input class="input input-sm form-control" [(ngModel)]="model.description" />
            </div>
        </div>
        <div class="col-sm-12 row" style="margin-top: 10px;">
            <div class="col-sm-4">
                <autocomplete *ngIf="suites" (optionSelected)="addTestOrSuite($event)" [options]="suites" [placeholder]="'Search for suites to add ...'"
                    [filterOn]="'name'" [optionText]="'name'"></autocomplete>
            </div>
            <div class="col-sm-4">
                <autocomplete *ngIf="tests" (optionSelected)="addTestOrSuite($event)" [options]="tests" [placeholder]="'Search for tests to add...'"
                    [filterOn]="'name'" [optionText]="'name'"></autocomplete>
            </div>
        </div>
        <div class="col-sm-12 row" style="margin-top: 10px;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="10%">Order</th>
                        <th width="40%">Selected Test/Suite</th>
                        <th width="40%">Type</th>
                        <th width="10%">Remove</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-sm-12 row" style="max-height: 30vh; overflow-y: auto;">
            <table class="table table-striped">
                <tbody>
                    <tr *ngFor="let test of model.tests; let i = index;">
                        <td width="10%">
                            {{i + 1}}
                        </td>
                        <td width="40%">
                            {{test.name}}
                        </td>
                        <td width="40%">
                            {{test.type}}
                        </td>
                        <td width="10%">
                            <button class="btn btn-sm btn-danger" (click)="removeTest(test)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
