<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/test" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-suitcase"></i>&nbsp;{{ 'Test Cases' | translate }}
        </a>
        <a routerLink="/suite" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Test Suites' | translate }}
        </a>
        <a (click)="onLogOut()" class="list-group-item">
            <i class="fa fa-fw fa-power"></i>&nbsp;{{ 'Logout' | translate }}
        </a>
    </ul>
</nav>
