<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-book"></i>&nbsp;{{ 'Diary' }}
        </a>
        <a routerLink="/client" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user"></i>&nbsp;{{ 'Clients' }}
        </a> 
        <a (click)="onLogOut()" class="list-group-item">
            <i class="fa fa-fw fa-power"></i>&nbsp;{{ 'Logout' }}
        </a>
    </ul>
</nav>
