<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-dashboard"></i>&nbsp;{{ 'Dashboard' }}
        </a>
        <a routerLink="/suite" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Test Suites' }}
        </a>
        <a routerLink="/test" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-suitcase"></i>&nbsp;{{ 'Test Cases' }}
        </a>
        <a routerLink="/commandAction" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-suitcase"></i>&nbsp;{{ 'Command Actions' }}
        </a>
        <!-- <a (click)="onLogOut()" class="list-group-item" style="bottom: 0px">
            <i class="fa fa-fw fa-power-off"></i>&nbsp;{{ 'Logout' }}
        </a> -->
    </ul>
    <p style="position: absolute; left: 2px; bottom: 0%; color: aliceblue; z-index: 1001; font-size: 13px">Tingus V{{ Version }} Release Date {{ ReleaseDate }}</p>
</nav>
