<div *ngIf="openScreen" [hidden]="!rendered">
    <div class="backdrop fadeIn1 backdrop-screen"></div>
    <div class="card screen-lg screen-dark card-screen">
        <div class="card-header">
            {{screenName}}
        </div>
        <div #layout>
            <br>
        </div>
        <div class="card-footer">
            <button *ngIf="options.save" type="button" class="btn btn-success pull-right" (click)="save()">Save</button>
            <button type="button" class="btn btn-danger pull-left" (click)="close()">Close</button>
        </div>
    </div>
</div>
