<div class="col-sm-12">
    <div style="margin-top: 10px; max-height: 60vh;">
        <div class="row">
            <div class="col-sm-12">
                <input #searchTerm (input)="searchImages(searchTerm.value)" class="input form-control" type="text" placeholder="Search tests by name ..."/>
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-sm-4">
                <strong>Currently Selected Image: </strong> {{selectedImageBase64.name}} 
            </div>
            <div class="col-sm-8"><img style="display: block; height:80px" src="{{selectedImageBase64.image_base64}}" /></div>
        </div>
        <div class="row">
            <div style="max-height: 40vh; overflow-y: scroll; width: 100%; margin-top: 10px">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th style="text-align: center;">Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr (click)="selectImage(image.name)" *ngFor="let image of frontendImages">
                            <td>{{image.name}}</td>
                            <td align="center">
                                <img style="display: block; height:80px" src="{{image.image_base64}}" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
